---
import '../styles/global.css';
import ProfileHeader from '../components/ProfileHeader.tsx';
import ProfileInfo from '../components/ProfileInfo.tsx';
import TabNavigation from '../components/TabNavigation.tsx';
import FeedWithProvider from '../components/FeedWithProvider.tsx';
import { profileData } from '../data/profileData';
import { mockPosts } from '../data/posts';

const initialPosts = mockPosts.slice(0, 9);
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{profileData.name} Prieto</title>
  <link rel="icon" type="image/svg+xml" href="/favicon.svg">
</head>
<body class="bg-black min-h-screen">
  <div class="max-w-3xl mx-auto bg-black sm:border-x border-gray-800 min-h-screen">
    <ProfileHeader 
      coverImage={profileData.coverImage}
      profilePicture={profileData.profilePicture}
      client:load
    />
    
    <ProfileInfo 
      name={profileData.name}
      username={profileData.username}
      bio={profileData.bio}
      isVerified={profileData.isVerified}
      joinDate={profileData.joinDate}
      followingCount={profileData.followingCount}
      followersCount={profileData.followersCount}
      client:load
    />
    
    <TabNavigation client:load />
    
    <FeedWithProvider 
      initialPosts={initialPosts}
      allPosts={mockPosts}
      batchSize={9}
      client:only="react"
    />
  </div>
</body>
</html>
